body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.check{
	border: none;
	background-color: #D9EDF7;
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
	}
.checkbox{
	height: 1.3em;
	width: 1.3em;
	margin:auto;
}
.trash{
	color:red; 
	font-size:30px;
}